unpackaged/main/default/flows/Check_if_Related_Product_Matches_Patient_Regime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Clear_Checkbox_on_Related_Product</name>
        <label>Clear Checkbox on Related Product</label>
        <locationX>389</locationX>
        <locationY>1035</locationY>
        <assignmentItems>
            <assignToReference>$Record.Regime_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Checkbox_on_Related_Product</name>
        <label>Update Checkbox on Related Product</label>
        <locationX>163</locationX>
        <locationY>1039</locationY>
        <assignmentItems>
            <assignToReference>$Record.Regime_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Matching_Product_Found</name>
        <label>Matching Product Found?</label>
        <locationX>266</locationX>
        <locationY>799</locationY>
        <defaultConnector>
            <targetReference>Clear_Checkbox_on_Related_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingRelatedRegimeProductIdvar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Checkbox_on_Related_Product</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Parent_Record</name>
        <label>What Type of Parent Record?</label>
        <locationX>267</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Get_Prescription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prescription</defaultConnectorLabel>
        <rules>
            <name>Patient_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Patient_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Order</targetReference>
            </connector>
            <label>Patient Order</label>
        </rules>
    </decisions>
    <description>Whenever a Related Product against a Prescription or Patient Order is added or updated, the Flow checks to look for a matching Related Product against the Regime record. If none is found, a box is checked before save, which triggers a validation rule on save.</description>
    <interviewLabel>Check if Related Product Matches Patient Regime {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if Related Product Matches Patient Regime</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Matching_Related_Product_Record_on_Regime</name>
        <label>Find Matching Related Product Record on Regime</label>
        <locationX>274</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Regime__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegimeIdvar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <object>Related_Product__c</object>
        <outputAssignments>
            <assignToReference>MatchingRelatedRegimeProductIdvar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Order</name>
        <label>Get Patient Order</label>
        <locationX>50</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Matching_Related_Product_Record_on_Regime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Order__c</elementReference>
            </value>
        </filters>
        <object>Patient_Order__c</object>
        <outputAssignments>
            <assignToReference>PatientOrderIdvar</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegimeIdvar</assignToReference>
            <field>Regime__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescription</name>
        <label>Get Prescription</label>
        <locationX>498</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Matching_Related_Product_Record_on_Regime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prescription__c</elementReference>
            </value>
        </filters>
        <object>Prescription__c</object>
        <outputAssignments>
            <assignToReference>PrescriptionIdvar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>149</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>What_Type_of_Parent_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Prescription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Patient_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Related_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MatchingRelatedRegimeProductIdvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingRelatedRegimeProductsCollectionvar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientOrderIdvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrescriptionIdvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegimeIdvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
