unpackaged/main/default/flows/Create_Patient_Order_from_Regime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>PatientOrderHyperlinkFormula</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(
&quot;https://vitaflo.lightning.force.com/lightning/Patient_Order__c/&quot; &amp;    CASESAFEID({!Create_Patient_Order}) &amp;&quot;/view&quot;,
&quot;Click to View Record&quot;,
&quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>Create Patient Order from Regime {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Patient Order from Regime</label>
    <loops>
        <name>Loop_Regime_Products</name>
        <label>Loop Regime Products</label>
        <locationX>175</locationX>
        <locationY>1019</locationY>
        <collectionReference>Get_Regime_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Patient_Order_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_Order</name>
        <label>Create Patient Order</label>
        <locationX>175</locationX>
        <locationY>617</locationY>
        <connector>
            <targetReference>Get_Regime_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Regime.Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regime__c</field>
            <value>
                <elementReference>Get_Regime.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Patient_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Order_Products</name>
        <label>Create Patient Order Products</label>
        <locationX>536</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Loop_Regime_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Patient_Order__c</field>
            <value>
                <elementReference>Create_Patient_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Loop_Regime_Products.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_Regime_Products.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Related_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Regime</name>
        <label>Get Regime</label>
        <locationX>175</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Order_from_Regime_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Regime__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regime_Products</name>
        <label>Get Regime Products</label>
        <locationX>175</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Regime_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Regime__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Related_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Generate_Order_from_Regime_Data</name>
        <label>Generate Order from Regime Data</label>
        <locationX>175</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Patient_Order</targetReference>
        </connector>
        <fields>
            <name>Instruction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &apos;Next&apos; to create a new Patient Order from this Regime record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Patient Order Created!&lt;/span&gt; &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;🥳&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!PatientOrderHyperlinkFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Regime</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
