unpackaged/main/default/flows/Create_Prescription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>PrescriptionHyperlinkFormula</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(
&quot;https://vitaflo.lightning.force.com/lightning/Prescription__c/&quot; &amp;    CASESAFEID({!Create_Prescription_Record}) &amp;&quot;/view&quot;,
&quot;Click to View Record&quot;,
&quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>Create Prescription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Prescription</label>
    <loops>
        <name>Loop_Patient_Order_Products</name>
        <label>Loop Patient Order Products</label>
        <locationX>175</locationX>
        <locationY>1019</locationY>
        <collectionReference>Get_Patient_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Prescription_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Prescription_Products</name>
        <label>Create Prescription Products</label>
        <locationX>529</locationX>
        <locationY>1020</locationY>
        <connector>
            <targetReference>Loop_Patient_Order_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Prescription__c</field>
            <value>
                <elementReference>Create_Prescription_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Loop_Patient_Order_Products.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Loop_Patient_Order_Products.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Related_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Prescription_Record</name>
        <label>Create Prescription Record</label>
        <locationX>176</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>Get_Patient_Order_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Patient_Order__c</field>
            <value>
                <elementReference>Get_Patient_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Patient_Order.Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regime__c</field>
            <value>
                <elementReference>Get_Patient_Order.Regime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Prescription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Patient_Order</name>
        <label>Get Patient Order</label>
        <locationX>175</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Order_from_Regime_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Order_Products</name>
        <label>Get Patient Order Products</label>
        <locationX>175</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Patient_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Related_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Generate_Order_from_Regime_Data</name>
        <label>Generate Order from Regime Data</label>
        <locationX>175</locationX>
        <locationY>408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Prescription_Record</targetReference>
        </connector>
        <fields>
            <name>Instruction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &apos;Next&apos; to create a new Prescription from this Patient Order record.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;📦&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;→&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;🩺&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Prescription Record Created!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;🥳&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!PrescriptionHyperlinkFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Patient_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
