unpackaged/main/default/flows/Update_Prescribed_Product_Quantities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Product_Data_for_Screen</name>
        <label>Assign Product Data for Screen</label>
        <locationX>493</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>CurrentRelatedProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prescription_Records.Product_Name_Text_Display__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentRelatedProductRequestedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Prescription_Records.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Received_Product_Quantity</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Prescribed Product Quantities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Prescribed Product Quantities</label>
    <loops>
        <name>Loop_Prescription_Records</name>
        <label>Loop Prescription Records</label>
        <locationX>264</locationX>
        <locationY>719</locationY>
        <collectionReference>Get_Prescription_Related_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Data_for_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Prescription</name>
        <label>Get Prescription</label>
        <locationX>266</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prescription_Related_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prescription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prescription_Related_Products</name>
        <label>Get Prescription Related Products</label>
        <locationX>266</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Prescription_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prescription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Prescription.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Related_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Product</name>
        <label>Update Related Product</label>
        <locationX>264</locationX>
        <locationY>927</locationY>
        <connector>
            <targetReference>Loop_Prescription_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Prescription_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Received_Quantity__c</field>
            <value>
                <elementReference>Prescribed_Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>Related_Product__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Prescribed_Quantities</name>
        <label>Add Prescribed Quantities</label>
        <locationX>265</locationX>
        <locationY>219</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Prescription</targetReference>
        </connector>
        <fields>
            <name>Instruction</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;If you have received the prescription from the patient&apos;s GP, you can update the Prescribed Quantities for the requested products here by clicking &apos;Next&apos;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>717</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Prescribed Quantities Updated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Received_Product_Quantity</name>
        <label>Update Received Product Quantity</label>
        <locationX>494</locationX>
        <locationY>928</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Related_Product</targetReference>
        </connector>
        <fields>
            <name>DisplayProductName</name>
            <fieldText>&lt;p&gt;{!CurrentRelatedProductName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentProductRequestedQty</name>
            <fieldText>&lt;p&gt;Requested Quantity: {!CurrentRelatedProductRequestedQuantity}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prescribed_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Prescribed Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>139</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Add_Prescribed_Quantities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRelatedProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRelatedProductRequestedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
